<section id="new_slider_section">
  <div class="new_slider_section  lg:pt-[90px] pb-0 md:px-[30px] xs:py-[40px] xs:px-[20px] bg-[#f4f0ec]">
    {% if section.settings.heading != blank %}
      <h1 class="font-[Compacta] uppercase text-right lg:text-[45px] md:text-[30px] xs:text-[23px] xs:leading[43.8px] xs:mb-[15px]">
        {{ section.settings.heading }}</h1>
    {% endif %}
    {% assign collection_main = collections[section.settings.collection] %}
    <div class="keen-slider flex justify-between opacity-0" id="slider-keen">
      {% for product in collection_main.products %}
        <div class="keen-slider__slide w-[calc(20%-30px)]">
          <a href="{{ product.url }}" class="block">
            <img
              src="{{ product | img_url: 'master' }}"
              alt="{{ product.title }}"
              class="mx-auto w-full" />
            <div class="product_content xs:mt-[18px]">
              <p class="flex justify-between items-start xs:text-[15px] md:text-[18px] xs:leading-[normal] uppercase font-['Kepler']">
                <span class="text-[#242d2d] xs:text-[15px] md:text-[18px] xs:leading-[normal] uppercase font-['Kepler']">{{ product.vendor }}</span>
                <span class="text-[#242d2d] xs:text-[15px] md:text-[18px] xs:leading-[normal] uppercase font-['Kepler']">{{ product.price | money }}</span>
              </p>
              <p class="xs:text-[15px] md:text-[18px] capitalize leading-normal flex xs:mt-[5px] text-black">{{ product.title | capitalize }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        new KeenSlider(".keen-slider", {
          loop: false,
          slides: {
            perView: 2,
            spacing: 20
          },
          breakpoints: {
            '(min-width: 769px)': {
              slides: {
                perView: 3,
                spacing: 30
              }
            },
            '(min-width: 1024px)': {
              slides: {
                perView: 5,
                spacing: 30
              }
            }
          }
        });
        const slider = document.getElementById('slider-keen');
        slider.classList.remove('opacity-0');
        slider.classList.add('opacity-100');
      });
    </script>

    <style></style>
  </div>
</section>
{% schema %}
  {
    "name": "Best Seller Slider",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Slider Title"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collections"
      }
    ],
    "presets": [
      {
        "name": "Best Seller Slider",
        "settings": {}
      }
    ]
  }
{% endschema %}